
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap" rel="stylesheet">

<div class="nav">
    <div class="side-nav">
        <div class="brand-name">
            <h1 class="nav-brand-name">DYK</h1>
        </div>
        <ul>
            <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i>Profile</a></li>
            <li><a href="{% url 'settings' %}"><i class="fa-solid fa-gear"></i>Setting</a></li>
        </ul>
    </div>
</div>
