{% extends 'app/base.html' %}

{% block content %}

<div class="frame">
    <div class="id-info">
        <div>
            <h3>CAVITE STATE UNIVERSITY</h3>
            <h4>BACOOR CITY CAMPUS</h4>
            <p class="univ-address">Soldiers Hills IV, M olino VI, City of Bacoor Cavite</p>
            <p class="univ-address">(046) 476-5029 | cvsubacoor@cvsu.edu.ph</p>
        </div>
        <div class="image">
            <img src="static/image/idpic.jpg">
        </div>
        <div>
            <h2 class="name">SALALILA</h2>
            <h3 class="name">LAWRENCE JAKE</h3>
            <h5 class="course">BS INFORMATION TECHNOLOGY</h5>
        </div>
    </div>
</div>

    

{% endblock content %}